.box-icon-2 .icon{
    width: 150px;
    height: 150px;
    padding-top: 25px;
}

.pad:not(.padWithPadding){
    padding-top: 0;
}

.pad .section-heading:before{
    background: #2f96db;
}

.pad .box-icon-2 .icon{
    border: 12px solid #8ebedf;
}

.home-blight{
    padding-bottom: 0;
}

.navbar-main.stiky .navbar-brand img{
    width: 90px;
}

@media only screen and (max-width: 960px) {
    .bg2asd{
        left: calc(-350%) !important;
    }

    .navbar-main .navbar-brand > img {
        width: 100% !important;
        height: 70px !important;
        margin: -10px 0 0 0;
    }
}

ul.checklist li{
    margin: 10px 0 8px 35px;
}

.sub-without-padding{
    padding: 0;
    margin: 0 0 20px;
}

blockquote, .blockquote-emulator{
    font-style: normal;
    line-height: 1.7;
    border: 0;
}

.p-t-10px{
    padding-top: 10px !important;
}

@media only screen and (min-width: 960px) {
    .negative-top-35px{
        margin: -35px 0 0;
        padding: 0 0 20px;
    }
}

.blockquote-emulator{
    padding: 15px 20px;
    background-color: #f6f6f6;
    margin: 0 0 20px;
    font-size: 16px;
    color: #686868;
    display: block;
}

.blockquote-emulator h2{
    padding: 0;
    margin: 0 0 10px;
}