<a class="go-top"><i class="fa fa-angle-up"></i></a>
<footer class="site-footer" id="colophon" role="contentinfo">
    <div class="site-info container">
        <a href="https://cleaningduties.ro/">&copy; 2018 CleaningDuties</a>
    </div><!-- .site-info -->
</footer><!-- #colophon -->
</div><!-- #page -->
<script src='-res/js/scripts.js' type='text/javascript'>
</script>
<script src='-res/js/main.min.js' type='text/javascript'>
</script>
<script src='-res/js/skip-link-focus-fix.js' type='text/javascript'>
</script>
