<div class="free-quote">
  <h2 class="section-heading-2 color_white">Solicita oferta</h2>
  <form
    action="https://docs.google.com/forms/d/e/1FAIpQLSej3nWN4_iL6QBx7KYRdD9G5NGYmGQKGPCuOYNT4ZoK8z4GDg/formResponse?"
    class="form-contact"
    id="contactForm"
    data-toggle="validator"
    novalidate="true"
    onsubmit="gFormSubmitted=true;"
    target="hidden_iframe"
    enctype="text/plain"
  >
    <div class="form-group">
      <input
        name="entry.2005620554"
        type="text"
        class="form-control"
        id="entry.2005620554"
        placeholder="Nume Prenume..."
        required=""
      />
      <div class="help-block with-errors"></div>
    </div>
    <div class="form-group">
      <input
        type="email"
        class="form-control"
        id="p_email"
        placeholder="Email..."
        required=""
      />
      <div class="help-block with-errors"></div>
    </div>
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        placeholder="Telefon..."
        id="entry.1166974658"
        name="entry.1166974658"
        required="required"
      />
      <div class="help-block with-errors"></div>
    </div>
    <div class="form-group">
      <textarea
        id="entry.839337160"
        name="entry.839337160"
        class="form-control"
        rows="6"
        placeholder="Cererea dumneavoastra..."
      ></textarea>
      <div class="help-block with-errors"></div>
    </div>
    <div class="form-group">
      <div id="success"></div>
      <button
        type="submit"
        class="btn btn-secondary disabled"
        style="pointer-events: all; cursor: pointer"
      >
        SOLICITA OFERTA
      </button>
    </div>
  </form>
  <iframe
    id="hidden_iframe"
    name="hidden_iframe"
    onload="if(gFormSubmitted) {}"
    style="display: none"
  ></iframe>
</div>
