<!-- Basic Page Needs
    ================================================== -->
<meta charset="utf-8" />
<!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- ==============================================
    Favicons
    =============================================== -->
<link rel="canonical" href="https://cleaningduties.ro/" />
<link rel='shortlink' href='https://cleaningduties.ro/' />
<link rel="icon" href="-res/images/favicon/cropped-icon-browser-32x32.png" sizes="32x32" />
<link rel="icon" href="-res/images/favicon/cropped-icon-browser-192x192.png" sizes="192x192" />
<link rel="apple-touch-icon-precomposed" href="-res/images/favicon/cropped-icon-browser-180x180.png" />
<link rel="manifest" href="-res/images/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="-res/images/favicon//ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">



<title>
  {% if page.id != 'homepage_p' %} {{ page.title }} &#8211; {% endif %} Cleaning
  Duties
</title>

<link
  rel="apple-touch-icon"
  sizes="72x72"
  href="-res/images/apple-touch-icon-72x72.png"
/>
<link
  rel="apple-touch-icon"
  sizes="114x114"
  href="-res/images/apple-touch-icon-114x114.png"
/>

<!-- ==============================================
    CSS VENDOR
    =============================================== -->
<link
  rel="stylesheet"
  type="text/css"
  href="-res/css/vendor/bootstrap.min.css"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="-res/css/vendor/font-awesome.min.css"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="-res/css/vendor/simple-line-icons.css"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="-res/css/vendor/owl.carousel.min.css"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="-res/css/vendor/owl.theme.default.min.css"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="-res/css/vendor/magnific-popup.css"
/>

<!-- ==============================================
    Custom Stylesheet
    =============================================== -->
<link rel="stylesheet" type="text/css" href="-res/css/style.css" />
<link rel="stylesheet" type="text/css" href="-res/css/custom.css" />

<script type="text/javascript" src="-res/js/vendor/modernizr.min.js"></script>
<script type="text/javascript" src="-res/js/vendor/jquery.min.js"></script>
<script src="-res/js/cookies.js"></script>
<script type="text/javascript">
  var cookieFlag = "_c_duties_no",
    returningVisitor = "isReturningVisitor";

  function enableGa() {
    if (!cookieStash.isset(cookieFlag)) {
      (function () {
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-TZXCQ4C');
      })();
    } else {
      disableGa();
    }
  }

  function disableGa() {
    if (cookieStash.isset(cookieFlag)) {
      cookieStash.erase("_ga");
      cookieStash.erase("_gat_gtag_UA_97550725_1");
      cookieStash.erase("_gid");
    }
  }

  enableGa();

  (function ($) {
    $(document).ready(function () {
      $(".accept-cookies-btn").on("click", function () {
        cookieStash.set(returningVisitor, 1);
        cookieStash.erase(cookieFlag);
        $(".cookie-notice").hide();
        enableGa();
      });

      if (
        cookieStash.isset(cookieFlag) ||
        cookieStash.isset(returningVisitor)
      ) {
        $(".cookie-notice").addClass("hidden");
      }
    });
  })(jQuery);

  var gFormSubmitted = false;
</script>
