<div class="preloader">
  <div class="spinner">
      <div class="pre-bounce1"></div>
      <div class="pre-bounce2"></div>
  </div>
</div>
<div class="hfeed site" id="page">
  <a class="skip-link screen-reader-text" href="#content">Skip to content</a>
  <header class="site-header" id="masthead" role="banner">
      <div class="header-wrap">
          <div class="container">
              <div class="row">
                  <div class="col-md-4 col-sm-8 col-xs-12">
                      <a href="https://cleaningduties.ro/" title="Cleaning Duties">
                        <img alt="Cleaning Duties" class="site-logo" src="./-res/img/logo.png">
                      </a>
                  </div>
                  <div class="col-md-8 col-sm-4 col-xs-12">
                      <div class="btn-menu"></div>
                      <nav class="mainnav" id="mainnav" role="navigation">
                          <div class="menu-menu-1-container">
                              <ul class="menu" id="menu-menu-1">
                                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-22" id="menu-item-22">
                                      <a href="index.html">Acasa</a>
                                  </li>
                                  <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-23" id="menu-item-23">
                                      <a href="servicii-curatenie-profesionale.html">Servicii</a>
                                      <ul class="sub-menu">
                                          <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-288 current_page_item menu-item-291" id="menu-item-291">
                                              <a href="curatenie-dupa-constructor.html">Curățenie dupa constructor</a>
                                          </li>
                                          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-313" id="menu-item-313">
                                              <a href="curatenie-cladiri-de-birouri.html">Curățenie clădiri de birouri</a>
                                          </li>
                                          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-306" id="menu-item-306">
                                              <a href="curatenie-generala.html">Curățenie generală</a>
                                          </li>
                                      </ul>
                                  </li>
                                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-199" id="menu-item-199">
                                      <a href="preturi-servicii-profesionale-curatenie.html">Preturi</a>
                                  </li>
                                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-157" id="menu-item-157">
                                      <a href="portofoliu-clienti.html">Portofoliu clienti</a>
                                  </li>
                                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21" id="menu-item-21">
                                      <a href="contact.html">Contact</a>
                                  </li>
                              </ul>
                          </div>
                      </nav><!-- #site-navigation -->
                  </div>
              </div>
          </div>
      </div>
  </header><!-- #masthead -->
