<!-- TESTIMONIALS -->
<div class="section testimony">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        {% if page.id == 'homepage_p' %}
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <h2 class="section-heading">Partenerii nostri</h2>
          </div>
        </div>
        {% endif %}

        <div id="owl-testimony">
          <div class="item">
            <div class="media">
              <img
                src="-res/images/poze/starbucks.png"
                alt=""
                class="img-responsive"
              />
            </div>
          </div>
          <div class="item">
            <div class="media">
              <img
                src="-res/images/poze/hardrock.png"
                alt=""
                class="img-responsive"
              />
            </div>
          </div>
          <div class="item">
            <div class="media">
              <img
                src="-res/images/poze/gregorio-rizo.png"
                alt=""
                class="img-responsive"
              />
            </div>
          </div>
          <div class="item">
            <div class="media">
              <img
                src="-res/images/poze/agricover.png"
                alt=""
                class="img-responsive"
              />
            </div>
          </div>
          <div class="item">
            <div class="media">
              <img
                src="-res/images/poze/all-beauty.png"
                alt=""
                class="img-responsive"
              />
            </div>
          </div>
          <div class="item">
            <div class="media">
              <img
                src="-res/images/poze/bulrom.png"
                alt=""
                class="img-responsive"
              />
            </div>
          </div>
          <div class="item">
            <div class="media">
              <img
                src="-res/images/poze/centrele-ideal.png"
                alt=""
                class="img-responsive"
              />
            </div>
          </div>
          <div class="item">
            <div class="media">
              <img
                src="-res/images/poze/crystal.png"
                alt=""
                class="img-responsive"
              />
            </div>
          </div>
          <div class="item">
            <div class="media">
              <img
                src="-res/images/poze/danya-cebus-rom.png"
                alt=""
                class="img-responsive"
              />
            </div>
          </div>
          <div class="item">
            <div class="media">
              <img
                src="-res/images/poze/fivestar.png"
                alt=""
                class="img-responsive"
              />
            </div>
          </div>
          <div class="item">
            <div class="media">
              <img
                src="-res/images/poze/frigotehnics.png"
                alt=""
                class="img-responsive"
              />
            </div>
          </div>

          <div class="item">
            <div class="media">
              <img
                src="-res/images/poze/greyder.png"
                alt=""
                class="img-responsive"
              />
            </div>
          </div>

          <div class="item">
            <div class="media">
              <img
                src="-res/images/poze/kinetic-logo.png"
                alt=""
                class="img-responsive"
              />
            </div>
          </div>
          <div class="item">
            <div class="media">
              <img
                src="-res/images/poze/novum-invest.png"
                alt=""
                class="img-responsive"
              />
            </div>
          </div>
          <div class="item">
            <div class="media">
              <img
                src="-res/images/poze/polo.png"
                alt=""
                class="img-responsive"
              />
            </div>
          </div>
          <div class="item">
            <div class="media">
              <img
                src="-res/images/poze/sphera_group.jpeg"
                alt=""
                class="img-responsive"
              />
            </div>
          </div>
          <div class="item">
            <div class="media">
              <img
                src="-res/images/poze/ssab-logo.png"
                alt=""
                class="img-responsive"
              />
            </div>
          </div>
          <div class="item">
            <div class="media">
              <img
                src="-res/images/poze/tomisgarden.jpeg"
                alt=""
                class="img-responsive"
              />
            </div>
          </div>
          <div class="item">
            <div class="media">
              <img
                src="-res/images/poze/vitanestates.jpeg"
                alt=""
                class="img-responsive"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
