<!-- HEADER -->
<div class="header">
  <!-- TOPBAR -->
  <div class="topbar">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-md-5">
          <div class="topbar-left">
            <div class="welcome-text"></div>
          </div>
        </div>
        <div class="col-sm-9 col-md-7">
          <div class="topbar-right">
            <ul class="topbar-menu">
              <li>
                <i class="icon-phone icons"></i> Contactati-ne: 0731 351 599
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- NAVBAR SECTION -->
  <div class="navbar navbar-main">
    <div class="container container-nav">
      <div class="navbar-header">
        <button
          type="button"
          class="navbar-toggle"
          data-toggle="collapse"
          data-target=".navbar-collapse"
        >
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="/">
          <img class="logo-img-wrapper" src="-res/images/logo1.png" alt="" />
        </a>
      </div>

      <nav class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">Home</a></li>
          <li class="dropdown">
            <a
              href="#"
              class="dropdown-toggle"
              data-toggle="dropdown"
              data-hover="dropdown"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              >Servicii <span class="caret"></span
            ></a>
            <ul class="dropdown-menu">
              <li><a href="produse.html">Produse</a></li>
              <li>
                <a href="curatenie-birouri-si-spatii-comerciale"
                  >Curatenie birouri si spatii comerciale</a
                >
              </li>
              <li>
                <a href="curatenie-rezidentiala">Curatenie rezidentiala</a>
              </li>
              <li>
                <a href="curatienie-dupa-constructor"
                  >Curatenie dupa constructor</a
                >
              </li>
            </ul>
          </li>
          <li><a href="preturi">Preturi</a></li>
          <li><a href="parteneri">Partenerii nostri</a></li>
          <li><a href="about">Despre noi</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="container">
    <div class="bookmenu">
      <a href="contact"><i class="icons icon-calendar"></i></a>
    </div>
  </div>
</div>
