<div class="widget categories">
  <ul class="category-nav">


    <li {% if page.url == "/curatenie-birouri-si-spatii-comerciale.html" %} class="active" {% endif %}>
      <a href="curatenie-birouri-si-spatii-comerciale"
        >Curatenie birouri si spatii comerciale</a
      >
    </li>


    <li {% if page.url == "/curatenie-rezidentiala.html" %} class="active" {% endif %}>
      <a href="curatenie-rezidentiala">Curatenie rezidentiala</a>
    </li>


    <li {% if page.url == "/curatienie-dupa-constructor.html" %} class="active" {% endif %}>
      <a href="curatienie-dupa-constructor">Curatenie dupa constructor</a>
    </li>

    <li {% if page.url == "/produse.html" %} class="active" {% endif %}><a href="produse">Produse</a></li>

  </ul>
</div>
<div class="widget cta">
  <h4>Fa o programare!</h4>
  <p>Ne poti scrie sau ne poti suna!</p>
  <a href="contact" class="btn btn-primary btn-sidebar"
    ><span class="fa fa-calendar-o"></span> Progameaza-te</a
  >
</div>
